# NOTE: Aquest .htaccess és antic. Com ara utilitzo routing real, es fa a /public/.htaccess
# i tot entra per /public/index.php amb el Router.

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^login$ index.php?page=login [QSA,L]
RewriteRule ^$ index.php?page=events [QSA,L]